<div class="navbar navbar-inverse" role="navigation">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/"> <h2 style="text-align: center;font-family: 'Luckiest Guy', cursive; letter-spacing: 4px; font-size: 3.5em; font-weight: bolder">M<span style="color: crimson">Y</span>SHOE<span style="color: crimson">S</span></h2></a>
      </div>
      <div class="navbar">
         <ul style="color: red;">
            <li style="color: red;"><a href="/" style="margin-top: 50px">Home</a></li>
            <li><a href="/abo.html" style="margin-top: 50px">About us</a></li>
         </ul>
      </div>


      <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
                  <li><a href="{{url_for('main.search')}}"style="margin-top: 50px">SHop</a></li>

      <li><a href="{{url_for('main.index',uname=current_user.username)}}">Profile</a></li>
      <li style="color:white;padding:15px;">{{current_user.username}}</li>
      <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
      {% else %}
      <li ><a href="{{url_for('auth.login')}}">Sign in</a></li>
      {%endif%}
    </ul>


   </div>
</div>